<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/css.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Empleados Formulario</title>
</head>
<body class="p-3 mb-2 bg-light text-dark">
<div id="container fluid" align="center" >
  <h1><font face="Special Elite" size="30" class="fw-bold" >Empleados</font></h1>
  <div class="underline">
  </div>


  </div>
  <form  method="post" class="row g-3">
      {% csrf_token %}
      <link rel="stylesheet" type="text/css" href="static/css/css.css">
    <div class="col-sm-12 row"  >
                <label for="inputEmail4" class="form-label"><font face="Special Elite" size="30" class="text-dark">Nombre</font></label>
                <input alt=" " name="nombre" value="{{empleado.nombre}}" type="text" class="form-control" id="inputEmail4">
    </div>

    <div class="col-sm-12 row" >
                <label for="inputAddress" class="form-label"><font face="Special Elite" size="30" class="text-dark">Apellido</font></label>
                <input name="apellido" value="{{empleado.apellido}}" type="text" class="form-control" id="inputAddress" >
    </div>

      <div class="col-sm-12 row" >
                <label for="inputAddress" class="form-label"><font face="Special Elite" size="30" class="text-dark">Equipo de Computo</font></label>
                <input name="computo" value="{{empleado.computo}}" type="text" class="form-control" id="inputAddress" >
      </div>


    <div class="submit" align="center">

        <button align="center" type="submit" class="btn btn-secondary btn-lg btn-block"><font face="Special Elite" size="5" class="">Registrarse</font></button>

    </div>
      <div class="btn-group">
                    <a href="{%url 'Formulario:table'%}"><font face="Special Elite" size="6" class="text-dark">Ver Empleados</font></a>

      </div>
  </form><!-- // End form -->
</div><!-- // End #container -->



 <style>
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
</style>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</html>